.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-fluid{
 
  padding: 0;
  text-align: center;
 }

 .row{
  margin-right:0!important;
  margin-left:0!important;
}
.App-link {
  color: #61dafb;
}

.text-container{
  text-align: left;
  margin-top: 9rem;
}

/* text-shadow: 2px 2px 5px red; */
#Header{
color: #6848c0;
font-size: 75px;
font-weight: bold;

}
#Sub-Header{
  color:#c5ac1f;
  font-size: 50px;
  font-weight: bold;

}

@media(max-width:768px){
  .text-container{
    text-align: left;
    margin-top:1rem
  }
}
@media(max-width:1280px){
  .text-container{

    margin-top:1rem
  }
}

input[type="radio"]{
    margin: 10px
}